<p class="center">"Wanna Be Free!! (for <%= ROGv::ServerConfig.server_name %>)" by <a href="https://twitter.com/parrot_studio/" target="_blank">@parrot_studio</a> 2012</p>
<div style="width: 600px; margin: auto;">
  <ul class="unstyled">
    <li>Source Code : <a href="https://github.com/parrot-studio/rogv_viewer">https://github.com/parrot-studio/rogv_viewer</a></li>
    <li>RO's Blog : <a href="http://parrot.blog21.fc2.com/">http://parrot.blog21.fc2.com/</a></li>
  </ul>
  <br/>
  <p>
  &copy; Gravity Co., Ltd. & Lee MyoungJin(studio DTDS). All rights reserved.<br/>
  &copy; GungHo Online Entertainment, Inc. All Rights Reserved.<br/>
  当コンテンツの再利用（再転載・配布など）は、禁止しています。
</p>
</div>
