<div class="row">
  <div class="span7">
    <h2>このサイトについて</h2>
  </div>
  <div class="span5">
    <%= partial :menu %>
  </div>
</div>

<div class="well">
  ※現在このページは整備中です。あとで随時更新されます。
</div>

<ul>
  <li>ゲーム内でGv中に「/savechat」したログを元に解析しています</li>
  <li>よって、実際のコール回数と異なる場合があります</li>
  <li>同一順位内では順不同です</li>
  <li>管理者がGvに参加しなかった場合、データが取得されず、1週丸ごと抜ける場合もあります</li>
  <li>取得システム及び解析システムは以下のサイトにソースコードを公開しています</li>
  <li><a href="https://github.com/parrot-studio/rogv" target="_blank">https://github.com/parrot-studio/rogv</a></li>
  <li>その他不明な点は <a href="https://twitter.com/parrot_studio/" target="_blank">@parrot_studio</a> まで</li>
</ul>
